<% include ../layout/header %>
<div class="container my-5 py-3 z-depth-1 rounded">
  <p>レジ - 最後の確認画面になります。</p>
  <% if (cart) { %>
    <!--Section: Content-->
    <section class="dark-grey-text">

      <!-- Shopping Cart table -->
      <div class="table-responsive">

        <table class="table product-table mb-0">

          <!-- Table head -->
          <thead class="mdb-color lighten-5">
            <tr>
              <th></th>
              <th class="font-weight-bold">
                <strong>商品名</strong>
              </th>
              <th></th>
              <th class="font-weight-bold">
                <strong>値段</strong>
              </th>
              <th class="font-weight-bold">
                <strong>個数</strong>
              </th>
              <th class="font-weight-bold">
                <strong>小計</strong>
              </th>
              <th></th>
            </tr>
          </thead>
          <!-- /.Table head -->

          <!-- Table body -->
          <tbody>

            <% let total = 0; %>
            <% cart.map((product) => { %>
              <tr>
                <th scope="row">
                  <img src="<%= product.image %>" alt="<%= product.name %>" width="180" class="img-fluid z-depth-0">
                </th>
                <td>
                  <strong><%= product.name %></strong>
                </td>
                <td></td>
                <td>¥<%= product.price %></td>
                <td>
                  <%= amount[product.id] %>
                </td>
                <td class="font-weight-bold">
                  <strong>¥<%= product.price * amount[product.id] %></strong>
                </td>
                <td></td>
              </tr>
            <% total += product.price * amount[product.id] %>
            <% }) %>

            <tr>
              <td colspan="3"></td>
              <td>
                <h4 class="mt-2">
                  <strong>合計</strong>
                </h4>
              </td>
              <td class="text-right">
                <h4 class="mt-2">
                  <strong>¥<%= total %></strong>
                </h4>
              </td>
              <td colspan="3" class="text-right">
                <form action="/cart/finish" method="post">
                  <input type="submit" class="btn btn-primary btn-rounded" value="購入を確定する">
                </form>
              </td>
            </tr>
            <!-- Fourth row -->

          </tbody>
          <!-- /.Table body -->

        </table>

      </div>
      <!-- /.Shopping Cart table -->

    </section>
    <!--Section: Content-->

    <% } else { %>
      <p>カートにはまだ何も入っていません。</p>
    <% } %>

</div>

<% include ../layout/footer %>